<aside class="aside">
  <div>
    <ul class="nav-list">
        <li>
          <a href="/products/all">
            <i class="bx bx-heart"></i>
            <span class="asideLinks">all</span>
          </a>
        </li>
        <li>
          <a href="/products/men">
            <i class="bx bx-user"></i>
            <span class="asideLinks">Men</span>
          </a>
        </li>
        <li>
          <a href="/products/women" >
            <i class="bx bx-female"></i>
            <span class="asideLinks">Women</span>
          </a>
        </li>

        <li>
          <a href="/products/top">
            <i class="bx bxs-t-shirt"></i>
            <span class="asideLinks">top</span>
          </a>
        </li>
        <li>
          <a href="/products/pants">
            <i class="bx bx-folder"></i>
            <span class="asideLinks">pants</span>
          </a>
        </li>
        <li>
          <a href="/products/shoe">
            <i class="bx bx-cart-alt"></i>
            <span class="asideLinks">shoese</span>
          </a>
        </li>
        <!-- <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="asideLinks">Setting</span>
        </a>
      </li> -->
      </ul>
    </div>
  </aside>
