<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>classy store</title>
    <link
      rel="shortcut icon"
      href="/public/photo/vertical-shot-grey-cat-with-blue-eyes-dark.jpg"
      type="image/x-icon"
    />

    <meta name="author" content="h.sallem" />
    <meta
      name="description"
      content="Discover the latest trends in fashion and elevate your style with our exclusive collection of clothing and accessories."
    />
    <meta name="robots" content="index , follow" />
    <meta property="og:title" content="classy store" />
    <meta
      property="og:description"
      content="Discover the latest trends in fashion and elevate your style with our exclusive collection of clothing and accessories."
    />

    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" type="text/css" href="/css/offers.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav-style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <!-- <link rel="stylesheet" href="./style.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
    />
  </head>
  <body>
    <div class="parent">
      <nav class="nav " >
        <img src="/photo/logo.png" style="height: 100%" alt="" />
        <header >
          <nav class="navbar ">
            <a href="#" class="logo">
              <img src="" alt="" />
            </a>
            <div class="search-bar">
              <form class="search" method="post" action="/search">
                <input type="text" name="search" placeholder="Search" class="search__input" />
                <button type="submit"  class="search__button">
                  <i class="ri-search-2-line"></i>
                </button>
              </form>
            </div>
            <ul class="links ">
              <span class="close-btn material-symbols-rounded form-popup">close</span>
              <li><a href="/">Home</a></li>
              <li><a href="/products">Products</a></li>
              <li><a href="/offers">Offers</a></li>
              <li><a href="/about">About us</a></li>
              <!-- <li><a href="#"></a></li> -->
              <li >
                <a href="/logout" class="login-btn">Log out</a>
              </li>
            </ul>
            <span id="menu" class="hamburger-btn material-symbols-rounded">menu</span>
          </nav>
        </header>
      </nav>
      <div class="search-side">
        <form class="search">
          <input type="text" placeholder="Search" class="search__input" />
          <button type="button" class="search__button">
            <i class="ri-search-2-line"></i>
          </button>
        </form>
      </div>