<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>متجر ملابس</title>
    <meta name="author" content="h.sallem" />
    <meta
      name="description"
      content="محل تجاري لبيع الملابس الجاهزه بمختلف محافظات مصر
    مع امكانية الحجز و الشراء اونلاين"
    />
    <meta name="robots" content="index , follow" />
    <meta property="og:title" content="متجر ملابس" />
    <meta
      property="og:description"
      content="محل تجاري لبيع الملابس الجاهزه بمختلف محافظات مصر
    مع امكانية الحجز و الشراء اونلاين"
    />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="css/bootstrap.css" />
  </head>
  <body>
    <div id="user_update" >
      <input type="text" id="address" placeholder="address">
      <button onclick="update_user()"> yalla </button>
    </div>
<script>
  let id="<%- users %>"
  function update_user(){
    let address = document.getElementById("address").value;
    let bd=JSON.stringify({ address:address })
    fetch(`/users/${id}`,
    {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
      body: bd
    })
  }    
  // document.getElementById("user_update").addEventListener("click",
  // (event)=>{
  // event.preventDefault()    
  // })

</script>
  </body>
</html>
