/* .container{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
 }
 @media(min-width: 412px){
  .container{

    width: 350px;
  }}
 @media(min-width: 768px){
   .container{
       width: 750px;
   }
 }
 @media(min-width: 992px){
   .container{
       width: 970px;
   }
 }
 @media(min-width: 1200px){
   .container{
       width: 1170px;
   }
 } */
 body{
  background-color: yellow;
 }